@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="openModal">Click me!</button>

@code {

    [CascadingParameter]
    public IModalService ModalService { get; set; }

    private void openModal()
    {
        var options = new ModalOptions()
        {
            Class = "my-custom-class"
        };

        var modal = ModalService.Show<YesNoPrompt>("Enter title here!", options);
    }
}
